
          <h1>Getting started</h1>
          <h2>Here&rsquo;s how to get rolling:</h2>
          
          <ol>          
            <li>
              <h2>Create a few trainings</h2>
              <p>Those are the trainings that you can order later.</p>
            </li>
            
            <li>
              <h2>Send an order</h2>
              <p>Use the order system to send (post) your order.</p>
            </li>

            <li>
              <h2>Use your order uri to navigate using <tt>restfulie</tt></h2>
              <p>Access the order uri and use it with the <tt>restfulie</tt> api.</p>
            </li>
          </ol>
