<h1>Listing orders</h1>

<table>
  <tr>
    <th>Customer name</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.customer_name, order %></td>
	<td><%= order_url(order) %>.xml</td>
	<% if order.can_cancel? %>
		<td><%= link_to 'cancel', order, :confirm => 'Are you sure?', :method => :delete %></td>
	<% else %>
		<td>cancelled</td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>